[Unit]
Description=Comet Cron Manager
After=network.target

[Service]
User=comet

ExecStart=comet server
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
